<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand" class="navbar-brand" href="#">Biblioteca Digital</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="dropdown">
		   		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    		Menu
		    		<span class="caret"></span>
		  		</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  <li><a th:href="@{/autores}">Autores</a></li>
				  <li><a th:href="@{/}">Livros</a></li>
				</ul>
		  	</div>
          </form>
        </div>
      </div>
</nav>
    
</body>
    
</html>